extends layout
block content
      

    section.container
       h1 Add a post

       if err
            p.error= err 
       form(action="/addpost" enctype="multipart/form-data" method="POST" )
            label(for="title") title
            input(type="text" name="title" required)
            label(for="description") add a description
            textarea(name="description" required)
            label(for="cover") add a cover
            input(type="file" name="cover" required)
            input(type="submit" value="create post")

