extends layout
block content
 
    section.container
        h1 SimpleNodeBlog
        p.main Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in tortor ut nibh pretium gravida ullamcorper eu erat. Fusce eu varius quam. Morbi eu fermentum nisl. Nunc ut velit ac enim lobortis convallis. Duis ante augue, ornare facilisis mi quis, porttitor consectetur eros. Morbi vel elit eu ligula placerat sagittis. Curabitur faucibus dapibus tellus, ac rutrum lacus fringilla eget. Phasellus at lorem fermentum, finibus metus vel, dictum ligula. Nulla tempor dignissim tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla blandit, elit sed molestie efficitur, risus mi vehicula dui, ut suscipit nulla ipsum vitae purus. Nam varius non felis vel viverra. Duis blandit, urna ac fringilla elementum, tortor sem luctus mi, sed bibendum nisi dolor vitae felis. Morbi consequat orci sit amet lectus fermentum posuere.