extends layout
block content
   
    section.container
        h1 Check out the recent posts!!
    
        div.pins-container
                     
            if (posts != undefined)
               
                if (posts.length > 0)
                    each post in posts
                        div.pins 
                                //- the uploads folder is mapped so theres no need to specify it in the image src
                                a(href="/posts/" + post.id)
                                    img(class="cover" src=post.thumb)

                              
                    
                else                                           
                    p No content to display
            
            else                                           
                p The database is not set

            p
                a(href="/addpost" class="newPost") +